.droppable-area {
    min-height: 100px;
    list-style-type: none;
    margin: 0;
    float: left;
    margin-right: 10px;
    border: 2px dashed #aaa;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
}

.saved-searches-area {
    margin-bottom: 50px;
}

.saved-searches-title {
    margin-top: 50px;
}

.droppable-area li {
    margin: 5px;
    padding: 0 0 50px 0;
    font-size: 14px;
    background-color: #ccc;
    color: #555;
    border: 1px solid #666;
    border-radius: 10px;
    cursor: pointer;
}

.droppable-area.savetrue li {
    float: none;
    width: auto;
}

.droppable-area.savetrue li .header,
.droppable-area.savetrue li .content {
    padding-left: 15px;
}

.droppable-area li .header {
    color: #fff;
    text-shadow: #000 0 1px;
    box-shadow: 5px;
    padding: 5px;
    background-color: #444;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.saved-searches-area li {
    text-align: center;
}

.ui-sortable-helper {
    opacity: 0.25;
    background-color: #ccc !important;
    color: #555 !important;
    height: auto !important;
}
